<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD HOTEL</h1>
    <form action="/mainlogin/hotels/add" method="post">

        <input type="text" name="title" placeholder="Enter Hotel Name"> <br><br>
        <textarea type="textarea" name="description" placeholder="Enter Hotel Description"></textarea> <br><br>
        <input type="text" name="image" placeholder="Enter Hotel image URL"><br><br>
        <input type="number" name="price" placeholder="Enter Hotel Price/night"><br><br>
        <input type="text" name="location" placeholder="Enter Hotel Address"><br><br>
        <input type="text" name="country" placeholder="Enter Country"><br><br>
        <button>Add Hotels deatails</button><br>
    </form>
</body>
</html>