*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html ,body{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* background-blend-mode: darken; */
}

#head{
    font-size: 50px;
    text-transform:uppercase;
    text-decoration: 2px underline solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}

.ri-add-circle-line{
    font-size: 100px;
}

/* .btn{
    display: flex;
    font-size: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    left:90%;
    top: 80%;
} */

/* ===========================patdetails.ejs====================== */

.cards{
    height: 14rem;
    width: 22rem;
    background-color: orange;
    /* border: 2px solid black; */
    border-radius: 20px;
    display: grid;
    padding: 5px;
    box-shadow: inset -49px 46px 33px -3px rgba(0,0,0,0.1);
    color: black;
    /* background-image: linear-gradient(#ffba08 ,#faa307 , #f48c06 , #e85d04, #dc2f02, #d00000,#03071e); */
}

span{
    padding-left: 3%;
    color: white;
}

.contain{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}

.trip{
font-size: 20px;
text-decoration: underline;
}

i{
    color: white;
}

.head{

    gap: 10px;
    font-size: 40px;
    text-decoration: underline;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
     width: 100%;
     /* color: orange; */
     text-decoration:5px underline orange;
}



.hotelcontain{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 40px;
    justify-content: space-evenly;
    align-items: center;
}

.position{
    height:400px ;
    width: 300px;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; */
   /* display: flex; */
   /* border: 1px solid grey; */
   border-radius:10px; 
   background-color: white;
}

.shadow{
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* .position:hover{
    border: 3px solid orange;
    border-radius: 10px;
} */

.logoimg{
    height: 50px;
    width: 50px;
    
}


p{
    font-size: 20px;
    padding: 10px 10px;

}

.patimg{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

input[type="radio"]{
    appearance: none;
 position: absolute;    
   display: flex;
   background-color: transparent;
}

input[type="radio"]:checked{
    height: 400px;
    width: 300px;
    appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgba(255,109,10,0.5);
}



  /* =======================button========================= */
.btn {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top,  #ff8c08,#ffbd08, #fbff06);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
   left: calc(100% - 15%);
   bottom: 35px;
   margin-top: 8px;
   margin-bottom: 8px
  }

  .btn:hover{
    box-shadow: 2px 2px 20px orange;
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }

  .btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn:hover .btn-text-one {
    top: -100%;
  }
  .btn:hover .btn-text-two {
    top: 50%;
  }
  
  .home{
    display: flex;
    height: 100px;
    width: 100px;
    color: orange;
   }

   .ri-home-8-fill{
    position: fixed;
    left: 1600px;
    bottom: 700px;
    display: flex;
    height: 100px;
    width: 100px;
    font-size: 60px;
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
   }