*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica,'Poppins', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main-page1{
    display: flex;
    width: 100%;
    height: 600px;
}

#nav{
    color: white;
    width: 100%;
    height: 150px;
    background: transparent;
     /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav .fixed{
    color: white;
}

#nav-part1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding-left: 20px;
}
#nav-part2{
    color: white;
    padding-left: 15%;
    display: flex; 
     justify-content: space-between; 
       gap: 10px;
       align-items: center;
}

span{

    font-size: xx-large;
}

#nav2-text{
    color: white;
     display: flex;
     align-items:last baseline;
   
}

/*#text2{

}*/

#nav-part3{   
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-right: 20px;
}

.nav3{
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 5px 10px;
    text-decoration: none;
}

#forphoto{
    height: 100%;
    width: 100%;
    background: url("/image/mainphoto.jpg");
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-position:center;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.6);
}

#head{
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
   text-transform: capitalize;
   height: 240px;
   font-size: 70px;

}

/* #home{
    background-blend-mode:normal;
    background-color: rgba(0, 0, 0, 0.6);
} */

#underhead{
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    text-transform: capitalize;
}

#forboth{
    width: 100%;
    height:550px;
}


#forsearch{
    display: flex;
    margin-left: 15%;
    margin-top: 8%;
    height: 105px;
    width: 1000px;
    background-color: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#destination{
     padding-left: 10px; 
    color: grey;
    font-size: 15px;
    /* margin-top: 2%; */
}

input{
    width:190px;
    margin-top: 6%;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
    color: black;
    box-shadow: yellow;
    
}

input::placeholder{
    color: black;
}

#departure{
    /* padding-left: 10px; */
    color: grey;
    font-size: 15px;
    /* margin-top: 2%; */
}

#return{
    /* padding-left: 10px; */
    color: grey;
    font-size: 15px;
    /* margin-top: 2%; */
}

#nop{
    /* padding-left: 10px; */
    color: grey;
    font-size: 15px;
    /* margin-top: 2%; */
}

button{
    border: 1px solid orange;
    border-radius: 50px;
    background-color: orange;
    color: black;
    height: 50%;
    width: 15%;
  margin-right: 10px;
  font-size: 18px;
}

.ri-search-line{
    color: black;
}

.ri-user-add-fill{
    color: white;
}

.ri-user-follow-fill{
    color: lightgreen;
}

.afterlogin

a{
    color: white;
    text-decoration: none;
}

/** Aboutus **/


.about_us {
    color: black;
    height: 450px;
}

.about_heading {
    color: black;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.about_paragrapdh {
    background-color: white;
    color: black;
    height: 510px;
    width: 860px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* .para2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
} */


.para1 {
    font-size: 20px; 
    color: black;
    margin-top: 3%;
     text-align: justify;
}

/* .para3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
} */

/** choose us **/

.choose_us {
    margin-top: 15px;
    color: white;
    height: 750px;
}

.chosse_heading {
    color: black;
    text-decoration: underline  orange;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.choose_content {
    color: black;
    height: 200px; 
    display: flex;
    gap: 3px;
    
}

.content_the {
    display: flex;
    justify-content: center;
    align-items: center;
}


.the_content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#aboutus{
    /* background: url("Download\ Abstract\ white\ and\ orange\ corporate\ background\ for\ free.jpg");
    background: url("Download\ Abstract\ white\ and\ orange\ corporate\ background\ for\ free.jpg");
    background-size: cover;
    background-position: center; */
    color: black;
    width:100%;
    height: 1200px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_head{
color: black;
text-decoration: underline orange;
}

#whychoseus{
    color: black;
    width:100%;
    height: 100%;
    margin-top: 15%;
}

.choseuspara{
    width: 550px;
    height: 450px;
   border: 10px solid orange;
   font-size: 20px;
   overflow-y: scroll;
   text-align: justify;
}

.choseuspara1{
color: black;
margin-top: 2%;
margin-bottom: 2%;
font-size: 25px;
 }

 .choseusimage{
    width: 300px;
    height: 300px;
 }

 .sidebar{
 width:17%;
 display: none;
 height: 80%;
 background-color:  transparent;
 position: absolute;
 }

 .sidebaroptions{
    display: flex;
    flex-direction: column;
    background-color:  transparent;
    color: white;
    padding: 10px 10px;
     margin-bottom: 2%;
     margin-top: 2%;
     margin-left: 1%;
     /* margin-right: 2%; */
    border-bottom: black solid 1px;
    width: 98%;
    height: 75px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
 }

 .sidebaroptions_header{
    display: flex;
    flex-direction: column;
    background: transparent;
    color: white;
    height: 90px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
 }

/* body{
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
 }  */






/*****form******/






div.main{
    width: 600px;
    margin: 100px auto 0px auto;

}

h2,h3{
    text-align: center;
    padding: 20px;
    /* font-family: sans-serif; */
}


div.register{
    background-color: white;
    height: fit-content;
    width: 100%;
    font-size: 18px;
    margin-top: 300px;
    border-radius: 10px;
    border: 1px solid orange;
    box-shadow: 2px 2px 15px orange;
    color: black;
    align-items: center;
}

form#register{
    margin: 40px;
    margin-top: 50px;
    
}

label{
    /* font-family: sans-serif; */
    font-size: 18px;
    font-style: italic;
}

input#name{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    /* box-shadow: inset 1px 1px 5px orange; */
}


label{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

/* button[type="Edit"] {
    background-color: #2415c8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="Edit"]:hover {
    background-color: #2415c8;
} */


input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* box-shadow: inset 1px 1px 5px orange; */
}

#male {
    color: black;
    width: 100px;
}

#female {
    color: black;
    width: 100px;
}



/***************___SCROLLARROW___***************/

#scrollarrow {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: white;
}

.arrow {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow div {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid orange;
    border-right: 5px solid orange;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow div:nth-child(2) {
    animation-delay: -.2s;
}

.arrow div:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


/**************____SUBMITANIMATION____*********************/

.container {
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid yellow;
    box-shadow: 1px 1px 5px yellow;
    margin-bottom: 20px;
} */


.popup {
    width: 400px;
    background: #efebeb;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 230%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* =======================button========================= */
.btn {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top,  #ff8c08,#ffbd08, #fbff06);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
   left: 150px;
   margin-top: 8px;
   margin-bottom: 8px
  }
  
  .btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn:hover .btn-text-one {
    top: -100%;
  }
  
  .btn:hover .btn-text-two {
    top: 50%;
  }
  
  .home{
    display: flex;
    height: 100px;
    width: 100px;
    color: orange;
   }

   .ri-home-8-fill{
    position: fixed;
    left: 1600px;
    bottom: 700px;
    display: flex;
    height: 100px;
    width: 100px;
    font-size: 60px;
    color: orange;
    border: 2px solid orange;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
   }